.t {
    background-color: yellowgreen;
    display: inline-block;
    color: bisque;
}
.b {
    background-color: black;
    color: blue;
}
.b {
    background-color: black;
    color: blue;
}
.c {
    background-color: brown;
    color: wheat;
}
.c {
    background-color: brown;
    color: wheat;
}
.d {
    background-color: yellow;
    color: black;
}
.d {
    background-color: yellow;
    color: black;
}
.e {
    background-color: yellow;
    color: black;
}
.d {
    background-color: yellow;
    color: black;
}
.z {
    background-color: yellow;
    color: black;
}
.g {
    background-color: yellow;
    color: black;
}
.h {
    background-color: yellow;
    color: black;
}
.i {
    background-color: black;
    color: wheat;
}
.j {
    background-color: black;
    color: wheat;
}
.k {
    background-color: black;
    color: wheat;
}
.l {
    background-color: black;
    color: wheat;
}
.m {
    background-color: black;
    color: wheat;
}
.p {
    background-color: black;
    color: wheat;
}
.j {
    background-color: black;
    color: wheat;
}
.r {
    background-color: yellowgreen;
    display: inline-block;
    color: bisque;
}
.s {
    background-color: purple;
    color: aqua;
}
.u {
    background-color: purple;
    color: aqua;
}
.v {
    background-color: purple;
    color: aqua;
}
.w {
    background-color: purple;
    color: aqua;
}
.x {
    background-color: purple;
    color: aqua;
}
.y {
    background-color: purple;
    color: aqua;
}
.s1 {
    background-color: purple;
    color: aqua;
}



                  

